<div class="row">
  <div class="col-12">
    <input
      type="radio"
      id="demo-priority-low_{{ address.id }}"
      name="demo-priority"
      [checked]="address.status == 1"
      (change)="predeterminateAddress(address)"
    />
    <label for="demo-priority-low_{{ address.id }}">
      <h4 class="mb-1">{{ address.name }}</h4>
    </label>
  </div>
  <div class="col-12">
    <h4 class="mb-0">
      Calle {{ address.street }} {{ address.streetNumber }},
      {{ address.suburb }} #{{ address.cp }}- {{ address.location }},
      {{ address.state }} |<br />
    </h4>
  </div>
  <div class="col-12">
    <p class="mb-1">Referenica del domicilio</p>
    <h4 class="mb-0">{{ address.reference }}</h4>
  </div>
</div>
