<div id="sidebar" [ngClass]="{ inactive: sidebarService.isHideSidebar() }">
  <div class="inner">
    <!-- Menu -->
    <nav id="menu">
      <header class="major">
        <ng-container *ngIf="session.isAuthenticated()">
          <h2>
            <img src="{{ session.getUserObject().picture }}" width="100px" />
            {{ (session.getUser() | async)?.name }}
          </h2>
        </ng-container>
      </header>
      <ul>
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="/search">Busqueda</a></li>
        <ng-container *ngIf="session.isAuthenticated()">
          <li><a routerLink="/orders">Pedidos</a></li>
          <li><a routerLink="/shopping-cart">Carrito de compras</a></li>
          <li><a routerLink="/account">Mi cuenta</a></li>
        </ng-container>
        <ng-container *ngIf="!session.isAuthenticated()">
          <li><a routerLink="/auth/login">Ingresar</a></li>
        </ng-container>
      </ul>
    </nav>

    <!-- Footer -->
    <footer id="footer">
      <p class="copyright">v.1.0.0</p>
    </footer>
  </div>
</div>
