<form [formGroup]="form" novalidate autocomplete="off">
  <section>
    <header class="main"></header>
    <h2>Abastecimiento</h2>
    <div class="row">
      <div class="col-8">
        <h4>{{ shoppingProduct.product.name }}</h4>
      </div>
      <div class="col-4 text-end">
        <h3>${{ shoppingProduct.product.price }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h4>Frecuencia de entrega</h4>
      </div>
      <div class="col-3">
        <input
          type="radio"
          id="demo-priority-low"
          name="inputPeriod"
          formControlName="inputPeriod"
          value="15"
          (click)="changePeriod(15)"
        />
        <label for="demo-priority-low">15 días</label>
      </div>
      <div class="col-3">
        <input
          type="radio"
          id="demo-priority-normal"
          name="inputPeriod"
          formControlName="inputPeriod"
          value="30"
          (click)="changePeriod(30)"
        />
        <label for="demo-priority-normal">30 días</label>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-7">
        <h4>Dosis Diaria</h4>
      </div>
      <div class="col-5">
        <button
          type="button"
          class="button solid icon circle-icon fa-minus-circle"
          (click)="resDose()"
        ></button>
        <input
          type="text"
          class="form-control mb-0 inline text-center"
          style="display: inline; width: 40%"
          formControlName="inputDose"
          id="inputDose"
          name="inputDose"
          readonly
        />
        <button
          type="button"
          class="button solid icon circle-icon fa-plus-circle"
          (click)="addDose()"
        ></button>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-7">
        <h4>Cajas</h4>
        <p>Cajas sugeridas {{ shoppingProduct.suggestedPieces }}</p>
      </div>
      <div class="col-5">
        <button
          type="button"
          class="button solid icon circle-icon fa-minus-circle"
          (click)="resPiece()"
        ></button>
        <input
          type="text"
          class="form-control mb-0 inline text-center"
          style="display: inline; width: 40%"
          formControlName="inputPieces"
          id="inputPieces"
          name="inputPieces"
          readonly
        />
        <button
          type="button"
          class="button solid icon circle-icon fa-plus-circle"
          (click)="addPiece()"
        ></button>
        <p
          *ngIf="
            shoppingProduct.dose > 0 &&
            shoppingProduct.suggestedPieces > shoppingProduct.pieces
          "
        >
          Se necesitan mas cajas para cubrir el periodo
        </p>
        <p *ngIf="shoppingProduct.suggestedPieces < shoppingProduct.pieces">
          Se recomiendan {{ shoppingProduct.suggestedPieces }} caja(s) para
          cubrir el periodo
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-3 offset-6">
        <h4>Subtotal</h4>
      </div>
      <div class="col-3 text-end">
        <h4>${{ shoppingProduct.subtotal }}</h4>
      </div>
      <div class="col-3 offset-6">
        <h4>
          Descuento
          <ng-container *ngIf="shoppingProduct.product.sales.length > 0"
            >({{ shoppingProduct.product.sales[0].percent }}%)</ng-container
          >
        </h4>
      </div>
      <div class="col-3 text-end">
        <h4>${{ shoppingProduct.discount }}</h4>
      </div>
      <div class="col-3 offset-6">
        <h4>Total</h4>
      </div>
      <div class="col-3 text-end">
        <h4>${{ shoppingProduct.total }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-6 offset-3">
        <ul class="actions fit ml-0 mb-0">
          <li>
            <a
              class="button primary icon solid fa-shopping-cart"
              type="button"
              (click)="onAddCart()"
              >Agregar al carrito</a
            >
          </li>
        </ul>
      </div>
    </div>
  </section>
</form>
