<app-header
  [title]="'Direcciones'"
  [icon]="'fa-arrow-left'"
  [link]="'/account'"
  [openSidebar]="false"
></app-header>
<!--Banner-->
<section class="normal-padding">
  <div class="row">
    <div class="col-10">
      <h3>Dirección de envio</h3>
    </div>
    <div class="col-2 text-center">
      <button
        class="link"
        *ngIf="!(state$ | async).showAddressAddForm"
        (click)="showFormCreateAddress()"
      >
        Agregar dirección
      </button>
      <button
        class="link"
        *ngIf="(state$ | async).showAddressAddForm"
        (click)="closeFormAddAddress()"
      >
        Cancelar
      </button>
    </div>
    <div class="col-12 text-center" *ngIf="(state$ | async).showAddressAddForm">
      <app-address-edit-form
        [address]="(state$ | async).editableAddress"
        [postalCodes]="(state$ | async).postalCodes"
        (submitPostalCode)="getPostalCode($event)"
        (submitForm)="createAddress($event)"
        (closeForm)="closeFormAddAddress()"
      >
      </app-address-edit-form>
    </div>
    <div class="col-12" *ngFor="let address of (state$ | async).address">
      <div class="box mb-0">
        <div class="row">
          <app-address-edit-form
            *ngIf="address.editing"
            [address]="address"
            [postalCodes]="(state$ | async).postalCodes"
            (submitPostalCode)="getPostalCode($event)"
            (submitForm)="editAddress($event, address)"
            (closeForm)="closeAddressEditForm()"
          >
          </app-address-edit-form>
          <app-address-detail-full
            *ngIf="!address.editing"
            [address]="address"
            [showDeliveryForm]="
              (state$ | async).editableAddress.id === address.id
            "
            [deliveriesTimes]="(state$ | async).deliveriesTimes"
            [showDeleteButton]="true"
            (requestShowEditForm)="showAddressEditForm($event)"
            (addressSelected)="predeterminateAddress($event)"
            (requestShowDeliveryForm)="showEditDeliveryForm($event)"
            (submitDeliveryForm)="editDelivery($event)"
            (closeDeliveryForm)="closeFormDelivery($event)"
            (deleteAddress)="deleteAddress($event)"
          ></app-address-detail-full>
        </div>
      </div>
    </div>
  </div>
</section>
