<div class="row space-top">
  <div class="col-12">
    <h1 class="text-center">Recuperar contraseña</h1>
  </div>
</div>
<div class="row gtr-200">
  <div class="col-12">
    <div class="box">
      <form method="post" action="#">
        <div class="row gtr-uniform">
          <div class="col-12">
            <input
              type="email"
              name="demo-email"
              id="demo-email"
              value=""
              placeholder="Contraseña"
            />
          </div>
          <div class="col-12">
            <input
              type="email"
              name="demo-email"
              id="demo-email"
              value=""
              placeholder="Confirmar contraseña"
            />
          </div>
          <!-- Break -->
          <div class="col-6 offset-3">
            <ul class="actions fit">
              <li>
                <input type="submit" value="Registrar" class="primary" />
              </li>
            </ul>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-6 offset-3">
          <div class="bar-top"></div>
        </div>
        <div class="col-12 text-center">
          <a href="/auth/login">Ingresar</a>
        </div>
      </div>
    </div>
  </div>
</div>
