<ng-container *ngIf="showQuantity">
  <div class="row">
    <div class="col"></div>
    <div class="col-2 text-center">
      <p>
        <button class="link" (click)="updateQuantity()">Terminar</button>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h4 class="mb-2">{{ subscription.product.name }}</h4>
    </div>
    <div class="col-3 text-center">
      <div class="col-12 text-center"><h5>Dosis diaria</h5></div>
      <button
        type="button"
        class="button solid icon circle-icon fa-minus-circle"
        (click)="resDose()"
      ></button>
      <form novalidate autocomplete="off" class="inline-shopping">
        <input
          type="text"
          id="inputWeeks_{{ subscription.id }}"
          name="inputWeeks_{{ subscription.id }}"
          value="{{ subscription.dose }}"
          readonly
        />
      </form>
      <button
        type="button"
        class="button solid icon circle-icon fa-plus-circle"
        (click)="addDose()"
      ></button>
    </div>
    <div class="col-3 text-center">
      <div class="col-12 text-center"><h5>Abastecimiento</h5></div>
      <button
        type="button"
        class="button solid icon circle-icon fa-minus-circle"
        (click)="resPieces()"
      ></button>
      <form novalidate autocomplete="off" class="inline-shopping">
        <input
          type="text"
          id="inputSupplying_{{ subscription.id }}"
          name="inputSupplying_{{ subscription.id }}"
          value="{{ subscription.pieces }}"
          readonly
        />
      </form>
      <button
        type="button"
        class="button solid icon circle-icon fa-plus-circle"
        (click)="addPieces()"
      ></button>
      <div
        class="col-12 text-center"
        *ngIf="subscription.suggestedPieces! > subscription.pieces"
      >
        <p>Cajas recomendadas. {{ subscription.suggestedPieces }}</p>
      </div>
    </div>
    <div class="col-2">
      <h4 class="mb-0 text-end">${{ subscription.total }}</h4>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="showDelivery">
  <form [formGroup]="form" novalidate autocomplete="off">
    <div class="row">
      <div class="col"></div>
      <div class="col-3">
        <input
          type="date"
          formControlName="inputDelivery"
          id="inputDelivery"
          name="inputDelivery"
          [minDate]="minDate"
          [maxDate]="maxDate"
          (change)="changeNextDate($event)"
        />
      </div>
      <div class="col-2 text-center">
        <p>
          <button class="link" (click)="updateDelivery()">Terminar</button>
        </p>
      </div>
      <div class="col"></div>
    </div>
  </form>
</ng-container>
