<div class="row">
  <div class="col-12 col-12-small">
    <input
      type="radio"
      id="inputStatus"
      name="inputStatus"
      (change)="changeCard(creditCard)"
      [checked]="creditCard.active"
    />
    <label for="inputStatus" (click)="changeCard(creditCard)"
      >Usar como predeterminada</label
    >
  </div>
  <div class="col-12">
    <h4 class="mb-0">
      {{ creditCard.type == "credit" ? "Credito" : "Debito" }}
      {{ creditCard.bank_name }}
    </h4>
  </div>
  <div class="col-12">
    <p class="mb-1">Numero</p>
    <h4 class="mb-0">{{ creditCard.card_number }}</h4>
  </div>
</div>
