<app-header
  [title]="'Padecimiento'"
  [icon]="'fa-arrow-left'"
  [link]="'/account'"
  [openSidebar]="false"
></app-header>
<!--Banner-->

<form [formGroup]="form" (ngSubmit)="doSearch()" class="mb-0">
  <section id="search" class="normal-padding">
    <div class="row">
      <div class="col">
        <button
          class="button"
          type="button"
          (click)="doClean()"
          style="margin-top: 1px"
        >
          <i class="fas fa-home"></i>
        </button>
      </div>
      <div class="col-11">
        <div class="input-group">
          <input
            type="text"
            name="query"
            id="query"
            formControlName="inputSearch"
            placeholder="Busqueda de padecimientos"
            class="mb-0 form-control"
          />
          <div _ngcontent-wad-c3="" class="input-group-append">
            <button
              class="button primary icon solid fa-search"
              type="submit"
              style="margin-top: 1px; margin-left: 1px"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
<!--Banner-->
<section>
  <div class="products">
    <article *ngFor="let userAilments of (state$ | async).userAilmentsSearch">
      <a href="#" class="image"
        ><img
          *ngIf="userAilments.images.length > 0"
          class="fit"
          src="{{ userAilments.images[0].url }}"
          alt=""
      /></a>
      <h3>{{ userAilments.name }}</h3>
      <p>
        {{ userAilments.description }}
      </p>
      <ul class="actions">
        <li>
          <button
            type="button"
            class="button"
            *ngIf="userAilments.userAilments"
            (click)="viewAilmentDetails(userAilments.userAilments.id)"
          >
            Ver detalles
          </button>
          <button
            type="button"
            class="button"
            *ngIf="!userAilments.userAilments"
            (click)="addAilmentToUser(userAilments.id)"
          >
            Establecer
          </button>
        </li>
      </ul>
    </article>
  </div>
</section>
