<div class="box">
  <form
    [formGroup]="form"
    novalidate
    autocomplete="off"
    method="post"
    (ngSubmit)="editUser()"
  >
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-6">
            <h5><label for="inputName">Nombre</label></h5>
            <input
              type="text"
              name="inputName"
              id="inputName"
              formControlName="inputName"
              placeholder="Ingrese nombre"
            />
            <ng-container *ngIf="form.controls.inputName.errors && submited">
              <p *ngIf="form.controls.inputName.errors.required" class="error">
                El campo es obligatorio
              </p>
              <p *ngIf="form.controls.inputName.errors.maxLength" class="error">
                No puede ingresar mas de 100 caracteres
              </p>
            </ng-container>
          </div>
          <div class="col-6">
            <h5><label for="inputBirthday">Fecha de nacimiento</label></h5>
            <input
              type="date"
              name="inputBirthday"
              id="inputBirthday"
              formControlName="inputBirthday"
              placeholder="Ingrese fecha"
            />
            <ng-container
              *ngIf="form.controls.inputBirthday.errors && submited"
            >
              <p
                *ngIf="form.controls.inputBirthday.errors.required"
                class="error"
              >
                El campo es obligatorio
              </p>
            </ng-container>
          </div>
          <div class="col-12">
            <h5><label for="inputSurName">Primer apellido</label></h5>
            <input
              type="text"
              name="inputSurName"
              id="inputSurName"
              formControlName="inputSurName"
              placeholder="Ingrese primer apellido"
            />
            <ng-container *ngIf="form.controls.inputSurName.errors && submited">
              <p
                *ngIf="form.controls.inputSurName.errors.required"
                class="error"
              >
                El campo es obligatorio
              </p>
              <p
                *ngIf="form.controls.inputSurName.errors.maxLength"
                class="error"
              >
                No puede ingresar mas de 100 caracteres
              </p>
            </ng-container>
          </div>
          <div class="col-12">
            <h5><label for="inputSecondSurName">Segundo apellido</label></h5>
            <input
              type="text"
              name="inputSecondSurName"
              id="inputSecondSurName"
              formControlName="inputSecondSurName"
              placeholder="Ingrese segundo apellido"
            />
            <ng-container
              *ngIf="form.controls.inputSecondSurName.errors && submited"
            >
              <p
                *ngIf="form.controls.inputSecondSurName.errors.required"
                class="error"
              >
                El campo es obligatorio
              </p>
              <p
                *ngIf="form.controls.inputSecondSurName.errors.maxLength"
                class="error"
              >
                No puede ingresar mas de 100 caracteres
              </p>
            </ng-container>
          </div>
          <div class="col-12">
            <h5><label for="inputInteriorNumber">Correo</label></h5>
            <input
              type="email"
              name="inputEmail"
              id="inputEmail"
              formControlName="inputEmail"
              placeholder="Ingrese correo"
            />
            <ng-container *ngIf="form.controls.inputEmail.errors && submited">
              <p *ngIf="form.controls.inputEmail.errors.required" class="error">
                El campo es obligatorio
              </p>
              <p
                *ngIf="form.controls.inputEmail.errors.maxLength"
                class="error"
              >
                No puede ingresar mas de 100 caracteres
              </p>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12 text-center">
            <h5><label for="inputCp">Imagen</label></h5>
            <img src="{{ userData.picture }}" />
            <ng-container *ngIf="form.controls.inputPicture.errors && submited">
              <p
                *ngIf="form.controls.inputPicture.errors.required"
                class="error"
              >
                El campo es obligatorio
              </p>
            </ng-container>
          </div>
          <div class="col-12">
            <ul class="actions fit ml-1 mb-0 mt-3">
              <li>
                <a
                  class="button icon solid"
                  type="file"
                  (click)="uploader.click()"
                  >Cambiar</a
                >
              </li>
            </ul>
            <input
              #uploader
              type="file"
              class="form-control-file"
              id="inputFile"
              formControlName="inputFile"
              hidden
              accept="	image/jpeg, image/png"
              (change)="uploadImage($event)"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-6">
        <ul class="actions fit ml-0 mb-0">
          <li>
            <a class="button icon solid" type="button" (click)="close()"
              >Cancelar</a
            >
          </li>
        </ul>
      </div>
      <div class="col-6">
        <ul class="actions fit ml-0 mb-0">
          <li>
            <button class="button primary solid" type="submit">Terminar</button>
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>
<!--
inputStatus
-->
