<!-- Header -->
<app-header
  [title]="(state$ | async).currentDisease.name"
  [icon]="'fa-arrow-left'"
  [openSidebar]="false"
  [link]="'/search'"
></app-header>
<!--Banner-->
<section id="banner">
  <span class="image object">
    <img src="{{ (state$ | async).currentDisease.images[0].url }}" alt="" />
  </span>
  <div class="content">
    <p>
      {{ (state$ | async).currentDisease.description }}
    </p>
  </div>
</section>
<!-- Content -->
<section>
  <header class="major">
    <h2>Medicamento sugerido</h2>
  </header>
  <div class="posts">
    <article *ngFor="let item of (state$ | async).currentDisease.productParts">
      <h3>{{ item.name }}</h3>
      <a class="image"><img src="{{ item.images[0].url }}" /></a>
      <p>
        {{ item.description }}
      </p>
      <ul class="actions">
        <li>
          <a
            (click)="viewDetails(item)"
            type="button"
            class="button primary icon solid fa-shopping-cart"
          ></a>
        </li>
      </ul>
    </article>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <ul class="actions fit ml-0 mb-0">
        <li>
          <a
            (click)="onAddCart()"
            type="button"
            class="button primary icon solid fa-shopping-cart"
            >Solicitar todo</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
<app-modal id="buySupplyDetail" size="full">
  <ng-container *ngIf="buySupply == true">
    <app-buy-supply-modal
      #buySupplyDetail
      [shoppingProduct]="(state$ | async).shoppingProduct"
      (updateShoppingProduct)="updateShoppingProduct($event)"
      (submitForm)="onAddCart($event)"
      (closeForm)="closeBuySupplyDeail()"
    >
    </app-buy-supply-modal>
  </ng-container>
</app-modal>
