<div class="row space-top">
  <div class="col-12">
    <h1 class="text-center">Crear cuenta</h1>
  </div>
</div>
<div class="row gtr-200">
  <div class="col-12">
    <div class="box">
      <form
        [formGroup]="form"
        novalidate
        autocomplete="false"
        (ngSubmit)="onSubmit($event)"
      >
        <div class="row gtr-uniform">
          <div class="col-12">
            <input
              type="text"
              name="inputName"
              id="inputName"
              value=""
              placeholder="Nombre"
              formControlName="inputName"
            />
            <ng-container *ngIf="form.controls.inputName.errors && submited">
              <p *ngIf="form.controls.inputName.errors.required" class="error">
                El campo nombre es obligatorio
              </p>
              <p *ngIf="form.controls.inputName.errors.maxLength" class="error">
                No puede ingresar mas de 200 caracteres
              </p>
            </ng-container>
          </div>
          <div class="col-12">
            <input
              type="text"
              name="inputFirstSurname"
              id="inputFirstSurname"
              value=""
              formControlName="inputFirstSurname"
              placeholder="Primer apellido"
            />
            <ng-container
              *ngIf="form.controls.inputFirstSurname.errors && submited"
            >
              <p
                *ngIf="form.controls.inputFirstSurname.errors.required"
                class="error"
              >
                El campo es obligatorio
              </p>
              <p
                *ngIf="form.controls.inputFirstSurname.errors.maxLength"
                class="error"
              >
                No puede ingresar mas de 200 caracteres
              </p>
            </ng-container>
          </div>
          <div class="col-12">
            <input
              type="email"
              name="inputSecondSurname"
              id="inputSecondSurname"
              value=""
              formControlName="inputSecondSurname"
              placeholder="Segundo apellido"
            />
            <ng-container
              *ngIf="form.controls.inputSecondSurname.errors && submited"
            >
              <p
                *ngIf="form.controls.inputSecondSurname.errors.required"
                class="error"
              >
                El campo es obligatorio
              </p>
              <p
                *ngIf="form.controls.inputSecondSurname.errors.maxLength"
                class="error"
              >
                No puede ingresar mas de 200 caracteres
              </p>
            </ng-container>
          </div>
          <div class="col-12">
            <input
              type="email"
              name="inputEmail"
              id="inputEmail"
              value=""
              formControlName="inputEmail"
              placeholder="Correo"
            />
            <ng-container *ngIf="form.controls.inputEmail.errors && submited">
              <p *ngIf="form.controls.inputEmail.errors.required" class="error">
                El campo correo es obligatorio
              </p>
              <p *ngIf="form.controls.inputEmail.errors.email" class="error">
                El formato de correo es invalido
              </p>
            </ng-container>
          </div>
          <div class="col-12">
            <input
              type="password"
              name="inputPwd"
              id="inputPwd"
              value=""
              formControlName="inputPwd"
              placeholder="Contraseña"
            />
            <ng-container *ngIf="form.controls.inputPwd.errors && submited">
              <p *ngIf="form.controls.inputPwd.errors.required" class="error">
                El campo contraseña es obligatorio
              </p>
              <p *ngIf="form.controls.inputPwd.errors.minLength" class="error">
                Ingrese minimo 6 caracteres
              </p>
              <p *ngIf="form.controls.inputPwd.errors.maxLength" class="error">
                No puede ingresar mas de 200 caracteres
              </p>
            </ng-container>
          </div>
          <div class="col-12">
            <input
              type="password"
              name="inputPwdConfirm"
              id="inputPwdConfirm"
              value=""
              formControlName="inputPwdConfirm"
              placeholder="Confirmar contraseña"
            />
            <ng-container
              *ngIf="form.controls.inputPwdConfirm.errors && submited"
            >
              <p
                *ngIf="form.controls.inputPwdConfirm.errors.required"
                class="error"
              >
                El campo contraseña es obligatorio
              </p>
              <p
                *ngIf="form.controls.inputPwdConfirm.errors.minLength"
                class="error"
              >
                Ingrese minimo 6 caracteres
              </p>
              <p
                *ngIf="form.controls.inputPwdConfirm.errors.maxLength"
                class="error"
              >
                No puede ingresar mas de 200 caracteres
              </p>
              <p
                *ngIf="form.controls.inputPwdConfirm.errors.noMatch"
                class="error"
              >
                Las contraseñas no coinciden
              </p>
            </ng-container>
          </div>
          <!-- Break -->
          <div class="col-6 offset-3">
            <ul class="actions fit ml-0 mb-0">
              <li>
                <button class="button primary solid" type="submit">
                  Registrar
                </button>
              </li>
            </ul>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-6 offset-3">
          <div class="midd-separator"></div>
        </div>
        <div class="col-12 text-center">
          <a routerLink="/auth/login">Ingresar</a>
        </div>
      </div>
    </div>
  </div>
</div>
