<!-- Header -->
<app-header
  [title]="(state$ | async).currentProduct.name"
  [icon]="'fa-arrow-left'"
  [openSidebar]="false"
  [link]="'/search'"
></app-header>
<!--Banner-->
<section id="banner">
  <div class="content">
    <p>
      {{ (state$ | async).currentProduct.description }}
    </p>
    <div class="row">
      <div class="col-12">
        <h4>Ayuda en padecimientos</h4>
        <ul>
          <li *ngFor="let ailment of (state$ | async).currentProduct.ailments">
            {{ ailment.name }}
          </li>
        </ul>
      </div>
    </div>
    <div class="row" *ngIf="session.isAuthenticated()">
      <div class="col-9">
        <h3>Precio</h3>
      </div>
      <div class="col-3">
        <h3>${{ (state$ | async).currentProduct.price }}</h3>
        <p></p>
      </div>
    </div>
    <ul class="actions fit ml-0 mb-0" *ngIf="session.isAuthenticated()">
      <li>
        <a
          class="button primary icon solid fa-shopping-cart"
          type="button"
          (click)="openBuyDetails()"
          >Agregar al carrito</a
        >
      </li>
    </ul>
  </div>
  <span class="image object">
    <img
      *ngIf="(state$ | async).currentProduct.images.length > 0"
      src="{{ (state$ | async).currentProduct.images[0].url }}"
      alt=""
    />
  </span>
</section>
<app-modal id="buySupplyDetail" size="full">
  <ng-container>
    <app-buy-supply-modal
      #buySupplyDetail
      [shoppingProduct]="(state$ | async).shoppingProduct"
      (updateShoppingProduct)="updateShoppingProduct($event)"
      (submitForm)="addShoppingCart($event)"
      (closeForm)="closeBuySupplyDeail()"
    >
    </app-buy-supply-modal>
  </ng-container>
</app-modal>
