<app-header
  [title]="(state$ | async).userAilments.ailments.name"
  [icon]="'fa-arrow-left'"
  [link]="'/account/ailments'"
  [openSidebar]="false"
></app-header>
<!--Banner-->
<section id="banner">
  <div class="content">
    <p>
      {{ (state$ | async).userAilments.ailments.description }}
    </p>
  </div>
  <span class="image object">
    <img
      alt=""
      src="{{ (state$ | async).userAilments.ailments.images[0].url }}"
      class="fit"
      *ngIf="(state$ | async).userAilments.ailments.images.length > 0"
    />
  </span>
</section>
<section class="normal-padding">
  <div class="row">
    <div class="col-10">
      <h3>Productos</h3>
    </div>
    <div
      class="col-12"
      *ngFor="let item of (state$ | async).userAilments.userAilmentsProducts"
    >
      <div class="box mb-0">
        <h4>{{ item.product.name }}</h4>
        <!-- <div class="row" *ngIf="!item.editing">
          <div class="col-3">
            <p class="mb-0">
              Primera toma:
              <b>{{ item.firstTake }}</b>
            </p>
          </div>
          <div class="col-3">
            <p class="mb-0">
              Intervalo:
              <b>{{ item.intakePeriod }}</b>
            </p>
          </div>

          <div class="col-12">
            <ul>
              <li *ngFor="let doseTaken of item.dosesTaken">
                {{ doseTaken.doseDate | date : "dd-MM-YYYY HH:mm:ss" }}
              </li>
              <button
                class="button icon solid"
                type="button"
                (click)="onSubmitTakeDose(item)"
              >
                Tomar
              </button>
            </ul>
          </div>
        </div>
        <div class="row" *ngIf="item.editing">
          <div class="col-6">
            <app-dose-setup-form
              [data]="item"
              (submitForm)="onSubmitSetupTakeDose($event)"
              (closeForm)="onCloseEditing($event)"
            >
            </app-dose-setup-form>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
