
@import "variables.scss";
@import url(template.scss);
.offset-3{
  margin-left: 25%;
}
.ml-0{
  margin-left: 0px !important;
}
.mb-0 {
  margin-bottom: 0px!important;
}
.pl-0 {
  padding-left: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

// Modal
app-modal {
  display: none;

  .app-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    margin: 40px;

    .app-modal-body {
      padding: 15px;
      background: #fff;
      border-radius: 3px;
      opacity: 0;
      transform: translateY(100px);
      transition: 0.25s all ease-in-out;
    }

    &.sm {
      left: 35%;
      right: 35%;
    }

    &.md {
      left: 28%;
      right: 28%;
    }

    &.lg {
      left: 15%;
      right: 15%;
    }
    &.full{
      margin: 0;
      left: 0%;
      right: 0%;
      display: flex;
      align-content: flex-end;
      flex-direction: column-reverse;
      .app-modal-body {
          border-radius: 3px 3px 0px 0px;
      }
    }
  }

  &.app-modal-display {
    display: block;
  }
  &.app-modal-show {
    .app-modal-body {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .app-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
    z-index: 900;
  }

  .app-modal-close {
    cursor: pointer;
    font-size: 2.3em;
    color: #d4d4d4;
    padding: 0 15px;
    margin-top: -5px;
    margin-right: -5px;
  }

  .page-title {
    .icon {
      vertical-align: top;
    }

    .title {
      vertical-align: baseline !important;
    }

    .content {
      position: initial !important;
      margin-top: 0px !important;
      width: calc(100% - 50px) !important;
      vertical-align: bottom !important;
    }
  }
}

body.app-modal-open {
  overflow: hidden;
}


.inline-shopping{
  display: inline-block;
  max-width: 50px;
  margin-bottom: 0px;
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="search"],
  input[type="url"] {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    margin-bottom: 0px;
  }
}


ul.alt.items {
  li {
    padding-left: 2em;

    p {
      margin-bottom: 1px;
      display: flex;
      justify-content: space-between;
    }
  }
}

#footer{
  background-color: #f5f6f7;
  margin: 0 -6em 0em -6em;
  padding: 0 6em 1em 6em;
}

@media screen and (max-width: 1280px) {
    #footer {
      margin: 0 -4em 0em -4em;
      padding: 0 4em 1em 4em;
    }
}

.link {
  box-shadow: none !important;
  display: inline;
  padding: 0px;
  padding-right: 5px;
  cursor: pointer;
  height: initial;
  line-height: initial;
}

.img-cover {
  object-fit: cover;
}
.color-icon{
      color: $color-main;
        display: inline-block;
        font-size: 1.5em;
        height: 1.125em;
        line-height: 1.125em;
        text-align: center;
        width: 1.5em;
        border-bottom: 0px;
}


img.fit{
  display: block;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
