<ul class="pagination text-center">
  <li>
    <span class="button disabled" *ngIf="fistPage">Anterior</span>
    <a (click)="decreasePage()" *ngIf="!fistPage" class="button">Anterior</a>
  </li>
  <li *ngFor="let item of pagesList">
    <a *ngIf="currentPage == item.name && item.show" class="page active">{{
      item.name
    }}</a>
    <a
      *ngIf="currentPage != item.name && item.show"
      class="page"
      (click)="changeCurrentPage(+item.name)"
      >{{ item.name }}</a
    >
    <span *ngIf="mutiplePages && item.name == 1 && currentPage >= 5"
      >&hellip;</span
    >
    <span
      *ngIf="
        mutiplePages &&
        item.name == totalPages - 1 &&
        currentPage < totalPages - 5
      "
      >&hellip;</span
    >
  </li>
  <li>
    <span class="button disabled" *ngIf="lastPage">Siguiente</span>
    <a (click)="increasePage()" class="button" *ngIf="!lastPage">Siguiente</a>
  </li>
</ul>
