<form
  [formGroup]="form"
  (ngSubmit)="onSubmitForm()"
  novalidate
  autocomplete="off"
  class="request-form"
>
  <div class="row gtr-uniform">
    <div class="col-6 col-12-xsmall mb">
      <input
        type="text"
        name="demo-name"
        id="demo-name"
        placeholder="Nombre"
        formControlName="inputName"
      />
      <ng-container *ngIf="form.controls.inputName.errors && submited">
        <div
          *ngIf="form.controls.inputName.errors.required"
          class="input-error-info d-block"
        >
          El campo es obligatorio
        </div>
      </ng-container>
    </div>
    <div class="col-6 col-12-xsmall mb">
      <input
        type="email"
        name="demo-email"
        id="demo-email"
        placeholder="Email"
        formControlName="inputEmail"
      />
      <ng-container *ngIf="form.controls.inputEmail.errors && submited">
        <div
          *ngIf="form.controls.inputEmail.errors.required"
          class="input-error-info d-block"
        >
          El campo es obligatorio
        </div>
      </ng-container>
    </div>
    <div class="col-12 mb">
      <input
        type="text"
        name="demo-product"
        id="demo-product"
        placeholder="Medicamento"
        formControlName="inputProduct"
      />
      <ng-container *ngIf="form.controls.inputProduct.errors && submited">
        <div
          *ngIf="form.controls.inputProduct.errors.required"
          class="input-error-info d-block"
        >
          El campo es obligatorio
        </div>
      </ng-container>
    </div>
    <!-- Break -->
    <div class="col-12">
      <ul class="actions">
        <li>
          <input type="submit" value="Solicitar" class="primary" />
        </li>
      </ul>
    </div>
  </div>
</form>
