<form
  [formGroup]="form"
  novalidate
  autocomplete="off"
  method="post"
  (ngSubmit)="editUser()"
>
  <div class="row">
    <div class="col-6">
      <h5><label for="inputName">Primera toma</label></h5>
      <input
        type="time"
        name="inputName"
        id="inputName"
        formControlName="inputFirstTake"
        placeholder="Ingrese nombre"
      />
      <ng-container *ngIf="form.controls.inputFirstTake.errors && submited">
        <p *ngIf="form.controls.inputFirstTake.errors.required" class="error">
          El campo es obligatorio
        </p>
      </ng-container>
    </div>
    <div class="col-6">
      <h5><label for="inputPeriod">Periodo de timepo</label></h5>
      <input
        type="time"
        name="inputPeriod"
        id="inputPeriod"
        formControlName="inputPeriod"
        placeholder="Ingrese fecha"
      />
      <ng-container *ngIf="form.controls.inputPeriod.errors && submited">
        <p *ngIf="form.controls.inputPeriod.errors.required" class="error">
          El campo es obligatorio
        </p>
      </ng-container>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-6">
      <a
        class="button icon solid"
        type="button"
        (click)="close()"
        *ngIf="data.firstTake"
        >Cancelar</a
      >
    </div>
    <div class="col-6 text-end">
      <button class="button primary solid" type="submit">Actualizar</button>
    </div>
  </div>
</form>
