<app-header [title]="'Preguntas y respuestas'"></app-header>
<!--presentation-->

<section>
  <h2>¿Sample Content?</h2>
  <p>
    Praesent ac adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut
    odio odio nunc. Ac adipiscing nibh porttitor erat risus justo adipiscing
    adipiscing amet placerat accumsan. Vis. Faucibus odio magna tempus
    adipiscing a non. In mi primis arcu ut non accumsan vivamus ac blandit
    adipiscing adipiscing arcu metus praesent turpis eu ac lacinia nunc ac
    commodo gravida adipiscing eget accumsan ac nunc adipiscing adipiscing lorem
    ipsum dolor sit amet nullam veroeros adipiscing.
  </p>
  <hr class="major" />
  <h2>¿Sample Content?</h2>
  <p>
    Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in
    faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis.
    Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque
    leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu
    massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac,
    pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at,
    elementum convallis elit. Pellentesque enim turpis, hendrerit.
  </p>
  <hr class="major" />
  <h2>¿Sample Content?</h2>
  <p>
    Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in
    faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis.
    Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque
    leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu
    massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac,
    pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at,
    elementum convallis elit. Pellentesque enim turpis, hendrerit.
  </p>
  <hr class="major" />
  <h2>¿Sample Content?</h2>
  <p>
    Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in
    faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis.
    Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque
    leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu
    massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac,
    pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at,
    elementum convallis elit. Pellentesque enim turpis, hendrerit.
  </p>
  <hr class="major" />
  <h2>¿Sample Content?</h2>
  <p>
    Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in
    faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis.
    Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque
    leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu
    massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac,
    pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at,
    elementum convallis elit. Pellentesque enim turpis, hendrerit.
  </p>
  <hr class="major" />
  <h2>¿Sample Content?</h2>
  <p>
    Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in
    faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis.
    Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque
    leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu
    massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac,
    pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at,
    elementum convallis elit. Pellentesque enim turpis, hendrerit.
  </p>
  <hr class="major" />
  <h2>¿Sample Content?</h2>
  <p>
    Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in
    faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis.
    Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque
    leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu
    massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac,
    pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at,
    elementum convallis elit. Pellentesque enim turpis, hendrerit.
  </p>
</section>
